* {
  background-color: #282c34;
  color: #fff;
  box-sizing: border-box;
}
.App {
  display: flex;
  flex-direction: column;
}
header {
  display: flex;
  justify-content: center;
  width: 100vw;
  height: auto;
  background-color: #555;
  font-size: 50px;
}
.id {
  display: flex;
}
h1 {
  margin-top: 20px;
  margin-bottom: 20px;
  background-color: transparent;
}
section {
  display: flex;
}
.form {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  text-align: start;
  width: 350px;
  border: 1px solid #fff;
}
.form div {
  height: calc(100vh - 50px);
}
.form input {
  width: 300px;
  border: 1px solid #fff;
  padding: 5px;
  border-radius: 5px;
  margin-bottom: 20px;
}
.form textarea {
  width: 300px;
  height: 100px;
  border: 1px solid #fff;
  padding: 5px;
  border-radius: 5px;
  margin-bottom: 20px;
}
.form button {
  padding: 10px 30px;
  border: 1px solid #fff;
  border-radius: 5px;
  margin-top: 20px;
}
.conteudo {
  display: flex;
  flex-wrap: wrap;
  justify-content: space-around;
  width: calc(100vw - 350px);
  height: auto;
  margin: auto;
}
.noticias {
  display: flex;
  flex-direction: column;
  width: 450px;
  margin: 20px;
  border-radius: 5px;
  padding: 20px;
}
.noticias .autor{
  margin: 5px;
}
h3 {
  display: flex;
  align-items: center;
  font-size: 30px;
  text-decoration: underline;
  height: 30px;
  margin: 5px;
}
.noticias p {
  display: flex;
  flex: 1;
  margin: 5px;
}

